<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.uta.riippuvaisapp"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- android:roundIcon="@mipmap/ic_launcher_round" -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_phone_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FactActivity"
            android:label="@string/fact_title" />
        <activity
            android:name=".ExerciseActivity"
            android:label="@string/exercise_title" />
        <activity
            android:name=".Exercise1Activity"
            android:label="@string/exercise1_text" />
        <activity
            android:name=".Exercise2Activity"
            android:label="@string/exercise2_text" />
        <activity
            android:name=".Exercise3Activity"
            android:label="@string/exercise3_text" />
        <activity
            android:name=".FirstStartActivity"
            android:label="@string/title_activity_first_start"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SetGoalActivity"
            android:label="@string/title_activity_setting_goal" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title" />
        <activity
            android:name=".ReadDataActivity"
            android:label="Lue tallennettua dataa" />
        <activity
            android:name=".RecallActivity"
            android:label="Palauta mieleesi" />
        <activity
            android:name=".SummaryActivity"
            android:label="Yhteenveto"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>